@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Courgette", cursive, serif;
  --font-sans: "Courgette", cursive, sans-serif;

  --color-emerald-50: var(--color-orange-50);
  --color-emerald-100: var(--color-orange-100);
  --color-emerald-200: var(--color-orange-200);
  --color-emerald-300: var(--color-orange-300);
  --color-emerald-400: var(--color-orange-400);
  --color-emerald-500: var(--color-orange-500);
  --color-emerald-600: var(--color-orange-600);
  --color-emerald-700: var(--color-orange-700);
  --color-emerald-800: var(--color-orange-800);
  --color-emerald-900: var(--color-orange-900);
  --color-emerald-950: var(--color-orange-950);

  --color-green-50: var(--color-amber-50);
  --color-green-100: var(--color-amber-100);
  --color-green-200: var(--color-amber-200);
  --color-green-300: var(--color-amber-300);
  --color-green-400: var(--color-amber-400);
  --color-green-500: var(--color-amber-500);
  --color-green-600: var(--color-amber-600);
  --color-green-700: var(--color-amber-700);
  --color-green-800: var(--color-amber-800);
  --color-green-900: var(--color-amber-900);
  --color-green-950: var(--color-amber-950);

  --color-teal-50: var(--color-yellow-50);
  --color-teal-100: var(--color-yellow-100);
  --color-teal-200: var(--color-yellow-200);
  --color-teal-300: var(--color-yellow-300);
  --color-teal-400: var(--color-yellow-400);
  --color-teal-500: var(--color-yellow-500);
  --color-teal-600: var(--color-yellow-600);
  --color-teal-700: var(--color-yellow-700);
  --color-teal-800: var(--color-yellow-800);
  --color-teal-900: var(--color-yellow-900);
  --color-teal-950: var(--color-yellow-950);

  --color-cyan-50: var(--color-yellow-50);
  --color-cyan-100: var(--color-yellow-100);
  --color-cyan-200: var(--color-yellow-200);
  --color-cyan-300: var(--color-yellow-300);
  --color-cyan-400: var(--color-yellow-400);
  --color-cyan-500: var(--color-yellow-500);
  --color-cyan-600: var(--color-yellow-600);
  --color-cyan-700: var(--color-yellow-700);
  --color-cyan-800: var(--color-yellow-800);
  --color-cyan-900: var(--color-yellow-900);
  --color-cyan-950: var(--color-yellow-950);

  --color-blue-50: var(--color-orange-50);
  --color-blue-100: var(--color-orange-100);
  --color-blue-200: var(--color-orange-200);
  --color-blue-300: var(--color-orange-300);
  --color-blue-400: var(--color-orange-400);
  --color-blue-500: var(--color-orange-500);
  --color-blue-600: var(--color-orange-600);
  --color-blue-700: var(--color-orange-700);
  --color-blue-800: var(--color-orange-800);
  --color-blue-900: var(--color-orange-900);
  --color-blue-950: var(--color-orange-950);
}